
# this file is based on the examples provided on scikit-learn's .coveragerc

[run]
omit =
    scripts/*
    */tests*
    */__init__.py
source = songbird
branch = True
include = */songbird/*

[report]
exclude_lines =
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
omit =
    scripts/*
    */tests*
    */__init__.py